body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.main-container {
    margin: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: fixed;

    display: flex;
    flex-direction: column;

    min-height: inherit;
    overflow: hidden;
}

.main-content {
    flex: 1;
    overflow-y: visible;
}



/* Header */
.header {
    width: 100%;
    min-height: 40px;
    background-color: orangered;
    font-size: 20px;
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically center the content*/
}

.nav-title {
    margin-left: 10px;
    flex: 1;
}

.nav-links {
    flex: 0;
}

.nav-link {
    font-size: 18px;
    margin: 5px;
    color: blue;
}

/* Forum */

.forum-list {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    width: 100%;
    background-color: gray;
    /*border-left: solid 1px black;
    border-right: solid 1px black; */
}

.forum-list-element {
    padding: 10px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    background-color: lightgray;
    transition: all .3s ease-out;
}
.forum-list-element:last-child {
    border-bottom: solid 1px black;
}

.forum-list-element:hover{
   box-shadow: 0px 5px 5px gray;
   position: relative;
}

.forum-title {
    width: 100%;
    background-color: gray;
    font-size: 22pt;
    height: 50px;
}

.forum-title-span {
    padding: 10px;
}

.forum-link {
   font-size: 18pt;
   display: inline-block;
}


.vertical-flexbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: sepia;
}

.centered {
    width: 65%;
    height: 100%;
    align-self: center;
}