body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.main-container {
    margin: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: fixed;

    display: flex;
    flex-direction: column;

    min-height: inherit;
    overflow: hidden;
}

.main-content {
    flex: 1;
    overflow-y: auto;
}

/* Misc */

button {
   display: inline-block;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-image: none;
   border: 1px solid transparent;
}


/* Header */
.header {
    width: 100%;
    min-height: 40px;
    background-color: orangered;
    font-size: 20px;
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically center the content*/
}

.nav-title {
    margin-left: 10px;
    flex: 1;
}

.nav-links {
    flex: 0;
}

.nav-link {
    font-size: 18px;
    margin: 5px;
    color: blue;
}

/* Forum */

.forum-list {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    width: 100%;
    background-color: gray;
    /*border-left: solid 1px black;
    border-right: solid 1px black; */
}

.forum-list-element {
    padding: 10px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    background-color: lightgray;
    transition: all .3s ease-out;
}
.forum-list-element:last-child {
    border-bottom: solid 1px black;
}

.forum-list-element:hover{
   box-shadow: 0px 3px 3px gray;
   position: relative;
}

.forum-title {
    width: 100%;
    background-color: gray;
    font-size: 22pt;
    height: 50px;
}

.forum-title-span {
    padding: 10px;
}

.forum-link {
   font-size: 18pt;
   display: inline-block;
}


.vertical-flexbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: sepia;
}

.centered {
    width: 70%;
    height: 100%;
    align-self: center;
}


/* Markdown */

.edit-markdown-toggle-box {
    border-radius: 4px;
    background-color: sepia;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
}

.markdown-textarea {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    min-width: 100%;
    padding: 10px;
    margin: 0;
}
.form-control {
    display: block;
    width: 100%; /* control this by making it 100% but adding another another class that sets it to auto */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.form-control {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.edit-markdown-bar {
    background-color: lightgray;
    flex: 0;
}

.view-markdown-content {
    flex: 1;
    margin: 10px;
}

.markdown-min-height {
    min-height: 200px;
}